# SPDX-FileCopyrightText: 2025 Ryan Lahfa <ryan.lahfa.ext@numerique.gouv.fr>
#
# SPDX-License-Identifier: MIT
* @jdauphant-dinum @rlahfa-dinum

# All changes to .github/CODEOWNERS must be approved by jdauphant-dinum.
.github/CODEOWNERS @jdauphant-dinum
